  button {
    filter: brightness(100%); /* luminosité normale */
  }
  
  button:hover {
    filter: brightness(50%); /* luminosité réduite de moitié */
  }
  img {
    position: absolute; top: 10px; left: 650px;
  }
  


