html,
body{
  justify-content: center;
  align-items: center;
  background: #ff2ff0;
  z-index: 0;
}
button {
    filter: brightness(100%); /* luminosité normale */
}
  
button:hover {
    filter: brightness(50%); /* luminosité réduite de moitié */
}
img {
    position: absolute;
}
  


